<%- include('partials/_header') %>

<section class="about_section layout_padding ">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="img-box">
            <img src="images/logoHuaca.jpg" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                QUIENES SOMOS
              </h2>
            </div>
            <h1>Misión</h1>
            <p>
                U.E. HUACA para el año 2022; será un establecimiento que propenda a una práctica académica transformadora y 
                liberadora; que consagre las aspiraciones y anhelos de la comunidad carchense, mediante el desarrollo 
                teleducativo basado en instrumentos autoinstruccionales con contenidos acordes a la realidad de los participantes, 
                personal capacitado y comprometido a formar ciudadanos conscientes de la realidad local y nacional, 
                humanos y cristianos convirtiéndose en seres activos y 
                libres respetando su entorno en el desarrollo de la sociedad.
            </p>
            <h1>Visión</h1>
                    <p>La labor teleducativa de la UE HUACA está destinada a servir a grupos de 
                        población de heterogénea condición social que por diversos motivos no pueden acceder al 
                        sistema educativo presencial; formando ciudadanos conscientes de su identidad, solidarios 
                        y comprometidos al cambio social, la vigencia de los derechos humanos, la justicia, 
                        la democracia y formarlos académicamente para que se puedan enfrentar a 
                        la vida guiados bajo la luz y la enseñanza filosófica.</p>
          </div>
        </div>
      </div>
    </div>
  </section>


<%- include('partials/_footer') %>