<%- include('partials/_header') %>

<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Sobre la UETCCAM				
                </h1>	
                <p class="text-white link-nav"><a href="/">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Nosotros</a></p>
            </div>	
        </div>
    </div>
</section>
<!-- Start feature Area -->
<section class="feature-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="single-feature">
					<div class="title">
						<h4>Educación en linea</h4>
					</div>
					<div class="desc-wrap">
						<p>
							El uso de Internet se está volviendo más común debido al rápido avance de la tecnología.
						</p>
						<a href="#">Únete ahora</a>									
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature">
					<div class="title">
						<h4>No.1 de colegios</h4>
					</div>
					<div class="desc-wrap">
						<p>
							Impulsar tu formación educativa es nuestra prioridad y tu crecimiento constante es nuestra pasión.
						</p>
						<a href="#">Únete ahora</a>									
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature">
					<div class="title">
						<h4>Biblioteca</h4>
					</div>
					<div class="desc-wrap">
						<p>
							Si eres un fanático del estudio como muchos de nosotros, probablemente puedas recordar ese evento.
						</p>
						<a href="#">Únete ahora</a>									
					</div>
				</div>
			</div>												
		</div>
	</div>	
</section>
<!-- End feature Area -->
	<!-- Start course-mission Area -->
    <section class="course-mission-area pb-120" style="margin-top: 70px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Metas a lograr para el liderazgo</h1>
                        <p>Who are in extremely love with eco friendly system.</p>
                    </div>
                </div>
            </div>							
            <div class="row">
                <div class="col-md-6 accordion-left">

                    <!-- accordion 2 start-->
                    <dl class="accordion">
                        <dt>
                            <a href="">MISIÓN</a>
                        </dt>
                        <dd>
                            La UETCCAM para el año 2018; será un establecimiento que propenda a una práctica académica transformadora y liberadora; que consagre las aspiraciones y anhelos de la comunidad carchense, mediante el desarrollo teleducativo basado en instrumentos autoinstruccionales con contenidos acordes a la realidad de los participantes, personal capacitado y comprometido a formar ciudadanos conscientes de la realidad local y nacional, humanos y cristianos convirtiéndose en seres activos y libres respetando su entorno en el desarrollo de la sociedad.
                        </dd>
                        <dt>
                            <a href="">VISIÓN</a>
                        </dt>
                        <dd>
                            La labor teleducativa de la UETCCAM está destinada a servir a grupos de población de heterogénea condición social que por diversos motivos no pueden acceder al sistema educativo presencial; formando ciudadanos conscientes de su identidad, solidarios y comprometidos al cambio social, la vigencia de los derechos humanos, la justicia, la democracia y formarlos académicamente para que se puedan enfrentar a la vida guiados bajo la luz y la enseñanza filosófica.
                        </dd>
                                                          
                    </dl>
                    <!-- accordion 2 end-->
                </div>
                <div class="col-md-6 video-right justify-content-center align-items-center d-flex relative">
                    <div class="overlay overlay-bg"></div>
                    <a class="play-btn" href="https://www.youtube.com/watch?v=ARA0AxrnHdM"><img class="img-fluid mx-auto" src="img/play.png" alt=""></a>
                </div>
            </div>
        </div>	
    </section>
    <!-- End course-mission Area -->

<%- include('partials/_footer') %>