<%- include('partials/_header') %>

<nav class="nav-section">
    <div class="container">
        <div class="nav-right">
        
            <a href="#">Acceder</a>
        </div>
        <ul class="main-menu">
            <li ><a href="/">Inicio</a></li>
            <li class="active"><a href="#">Nosotros</a></li>
            <li><a href="/event">Eventos</a></li>
            <li><a href="#">CATS</a></li>
            
            <li><a href="/contact">Contactos</a></li>
        </ul>
    </div>
</nav>
<section class="about-section spad pt-5">
    <div class="container">
        <div class="section-title text-center">
            <h3>NUESTRA VISIÓN Y MISIÓN</h3>
           
        </div>
        <div class="row">
            <div class="col-lg-6 about-text">
                <h5>MISIÓN</h5>
                <p>La UNEF – Carchi. P.C.E.I. para el año 2018; será un establecimiento que propenda a una práctica académica transformadora y liberadora; que consagre las aspiraciones y anhelos de la comunidad carchense, mediante el desarrollo teleducativo basado en instrumentos autoinstruccionales con contenidos acordes a la realidad de los participantes, personal capacitado y comprometido a formar ciudadanos conscientes de la realidad local y nacional, humanos y cristianos convirtiéndose en seres activos y libres respetando su entorno en el desarrollo de la sociedad.</p>
                <h5 class="pt-4">VISIÓN</h5>
                <p>La labor teleducativa de la UNEF – Carchi. P.C.E.I. está destinada a servir a grupos de población de heterogénea condición social que por diversos motivos no pueden acceder al sistema educativo presencial; formando ciudadanos conscientes de su identidad, solidarios y comprometidos al cambio social, la vigencia de los derechos humanos, la justicia, la democracia y formarlos académicamente para que se puedan enfrentar a la vida guiados bajo la luz y la enseñanza filosófica de "Monseñor Leónidas Proaño".</p>
               
            </div>
            <div class="col-lg-6 pt-5 pt-lg-0">
                <img src="img/about.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<section class="testimonial-section spad">
    <div class="container">
        <div class="testimonial-slider owl-carousel">
            <div class="ts-item">
                <div class="row">
                    <div class="col-md-3">
                        <div class="ts-author-pic set-bg" data-setbg="img/member/5.jpg"></div>
                    </div>
                    <div class="col-md-9 ts-text">
                        <p>“ Quiero hacerles saber que estoy absolutamente encantado con el curso en todos los aspectos. Ha sido especialmente grato para mí, con interés en ver la aplicación y buenas prácticas educativas a la educación escolar. ”</p>
                        <h5>Sr. Peter Crough</h5>
                        <span>Estudiante</span>
                    </div>
                </div>
            </div>
            <div class="ts-item">
                <div class="row">
                    <div class="col-md-3">
                        <div class="ts-author-pic set-bg" data-setbg="img/member/5.jpg"></div>
                    </div>
                    <div class="col-md-9 ts-text">
                        <p>“ Quiero hacerles saber que estoy absolutamente encantado con el curso en todos los aspectos. Ha sido especialmente grato para mí, con interés en ver la aplicación y buenas prácticas educativas a la educación escolar. ”</p>
                        <h5>Sr. Peter Crough</h5>
                        <span>Estudiante</span>
                    </div>
                </div>
            </div>
            <div class="ts-item">
                <div class="row">
                    <div class="col-md-3">
                        <div class="ts-author-pic set-bg" data-setbg="img/member/5.jpg"></div>
                    </div>
                    <div class="col-md-9 ts-text">
                        <p>“ Quiero hacerles saber que estoy absolutamente encantado con el curso en todos los aspectos. Ha sido especialmente grato para mí, con interés en ver la aplicación y buenas prácticas educativas a la educación escolar.  ”</p>
                        <h5>Sr. Peter Crough</h5>
                        <span>Estudiante</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<%- include('partials/_footer') %>