<%- include('partials/_header') %>


<!-- Start feature Area -->

<section class="banner-area relative about-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    CENTROS DE APOYO TUTORIAL	
                </h1>	
                <p class="text-white link-nav"><a href="/">Inicio </a>  <span class="lnr lnr-arrow-right"></span>  <a href="#"> Cats</a></p>
            </div>	
        </div>
    </div>
</section>
<!-- End banner Area -->	

<!-- Start popular-courses Area --> 
<section class="top-category-widget-area pt-90 pb-90 ">
    <div class="container">
        <div class="row">		
            <div class="col-lg-4">
                <div class="single-cat-widget">
                    <div class="content relative">
                        <div class="overlay overlay-bg"></div>
                        <a href="#" >
                          <div class="thumb">
                            <img style="height: 214px;" class="content-image img-fluid d-block mx-auto" src="http://www.sefse.edu.ec/images/provincias/carchi/name1b.jpg" alt="">
                            </div>
                          <div class="content-details">
                            <h4 class="content-title mx-auto text-uppercase">Planta central</h4>
                            <span></span>								        
                            <p>Avenida Julio Robles y las Tejerías</p>
                          </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-cat-widget">
                    <div class="content relative">
                        <div class="overlay overlay-bg"></div>
                        <a href="#" >
                          <div class="thumb">
                            <img style="height: 214px;" class="content-image img-fluid d-block mx-auto" src="https://www.tulcanonline.com/images/Turismo/Ciudad_San_Gabriel.jpg" alt="">
                            </div>
                          <div class="content-details">
                            <h4 class="content-title mx-auto text-uppercase">San Gabriel</h4>
                            <span></span>								        
                            <p>Panamericana y Calle Rosales</p>
                          </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-cat-widget">
                    <div class="content relative">
                        <div class="overlay overlay-bg"></div>
                        <a href="#" >
                          <div class="thumb">
                            <img style="height: 214px;" class="content-image img-fluid d-block mx-auto" src="https://static.wixstatic.com/media/669ac8_07203d5141904a7aa7dcecfcc94c2c46~mv2.jpeg/v1/fill/w_415,h_256,al_c,q_80,usm_0.66_1.00_0.01/PARQUE1.webp" alt="">
                            </div>
                          <div class="content-details">
                            <h4 class="content-title mx-auto text-uppercase">Huaca</h4>
                            <span></span>
                            <p>HUACA:  Paja Blanca  Contactos: 0981858158</p>
                          </div>
                        </a>
                    </div>
                </div>
            </div>	
            <div class="col-lg-4" style="margin-top: 20px;">
                <div class="single-cat-widget">
                    <div class="content relative">
                        <div class="overlay overlay-bg"></div>
                        <a href="#" >
                          <div class="thumb">
                               <img style="height: 220px;" class="content-image img-fluid d-block mx-auto" src="https://ec.viajandox.com/uploads/attractive_1207.jpg" alt="">
                            </div>
                          <div class="content-details">
                            <h4 class="content-title mx-auto text-uppercase">El Ángel</h4>
                            <span></span>
                            <p> Calle Pichincha y Avenida Panamericana</p>
                          </div>
                        </a>
                    </div>
                </div>
            </div>											
        </div>
    </div>	
</section>
    <!-- End course-mission Area -->

<%- include('partials/_footer') %>