<%- include('partials/_header') %>

<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="banner_content text-center">
                        <h2>Eventos</h2>
                        <p>Metas a lograr para el liderazgo.</p>
                        <div class="page_link">
                            <a href="index.html">Inicio</a>
                            <a href="courses.html">Eventos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Start Popular Courses Area =================-->
<div class="popular_courses lite_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="main_title">
                    <h2>Populares eventos</h2>
                    <p>Dentro de la institucion.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- single course -->
            <div class="col-lg-3 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="img/courses/trainer1.jpg" alt="">
                        <div class="authr_meta">
                            <img src="img/author1.png" alt="">
                            <span>Mart Taylor</span>
                        </div>
                    </div>
                    <div class="course_content">
                        <h4>
                            <a href="course-details.html">Learn React js beginners</a>
                        </h4>
                        <p>Cuando la televisión era joven, había un gran programa popular basado en el aún popular personaje ficticio de Superman.</p>
                        <div class="course_meta d-flex justify-content-between">
                            <div>
                                <span class="meta_info">
                                    <a href="#"><i class="lnr lnr-user"></i>355</a>
                                </span>
                                <span class="meta_info">
                                    <a href="#">
                                        <i class="lnr lnr-bubble"></i>35
                                    </a>
                                </span>
                            </div>
                            <div>
                                <span class="price">MAS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-3 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="img/courses/trainer1.jpg" alt="">
                        <div class="authr_meta">
                            <img src="img/author1.png" alt="">
                            <span>Mart Taylor</span>
                        </div>
                    </div>
                    <div class="course_content">
                        <h4>
                            <a href="course-details.html">Learn React js beginners</a>
                        </h4>
                        <p>Cuando la televisión era joven, había un gran programa popular basado en el aún popular personaje ficticio de Superman.</p>
                        <div class="course_meta d-flex justify-content-between">
                            <div>
                                <span class="meta_info">
                                    <a href="#">
                                        <i class="lnr lnr-user"></i>355
                                    </a>
                                </span>
                                <span class="meta_info"><a href="#">
                                        <i class="lnr lnr-bubble"></i>35
                                    </a></span>
                            </div>
                            <div>
                                <span class="price df_color1">MAS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-3 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="img/courses/trainer1.jpg" alt="">
                        <div class="authr_meta">
                            <img src="img/author1.png" alt="">
                            <span>Mart Taylor</span>
                        </div>
                    </div>
                    <div class="course_content">
                        <h4>
                            <a href="course-details.html">Learn React js beginners</a>
                        </h4>
                        <p>Cuando la televisión era joven, había un gran programa popular basado en el aún popular personaje ficticio de Superman.</p>
                        <div class="course_meta d-flex justify-content-between">
                            <div>
                                <span class="meta_info">
                                    <a href="#">
                                        <i class="lnr lnr-user"></i>355
                                    </a>
                                </span>
                                <span class="meta_info"><a href="#">
                                        <i class="lnr lnr-bubble"></i>35
                                    </a></span>
                            </div>
                            <div>
                                <span class="price">MAS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single course -->
            <div class="col-lg-3 col-md-6">
                <div class="single_course">
                    <div class="course_head overlay">
                        <img class="img-fluid w-100" src="img/courses/trainer1.jpg" alt="">
                        <div class="authr_meta">
                            <img src="img/author1.png" alt="">
                            <span>Mart Taylor</span>
                        </div>
                    </div>
                    <div class="course_content">
                        <h4>
                            <a href="course-details.html">Learn React js beginners</a>
                        </h4>
                        <p>Cuando la televisión era joven, había un gran programa popular basado en el aún popular personaje ficticio de Superman.</p>
                        <div class="course_meta d-flex justify-content-between">
                            <div>
                                <span class="meta_info">
                                    <a href="#">
                                        <i class="lnr lnr-user"></i>355
                                    </a>
                                </span>
                                <span class="meta_info"><a href="#">
                                        <i class="lnr lnr-bubble"></i>35
                                    </a></span>
                            </div>
                            <div>
                                <span class="price df_color2">MAS</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/_footer') %>