<%- include('partials/_header') %>

<nav class="nav-section">
    <div class="container">
        <div class="nav-right">
        
            <a href="#">Acceder</a>
        </div>
        <ul class="main-menu">
            <li ><a href="/">Inicio</a></li>
            <li ><a href="/about">Nosotros</a></li>
            <li class="active"><a href="#">Eventos</a></li>
            <li><a href="#">CATS</a></li>
            
            <li ><a href="/contact">Contactos</a></li>
            <li ><a href="#">Acceder</a></li>
        </ul>
    </div>
</nav>
<div class="contact-page spad pt-5">
    <div class="container">
        <h2>Busque por todos lados y no encontre nada para mostrarte</h2>
    </div>
    
</div>

<%- include('partials/_footer') %>