<%- include('partials/_header') %>
	<!-- Page Preloder -->


	


	<!-- Header section  -->
	<nav class="nav-section">
		<div class="container">
			<div class="nav-right">
			
				<a href="#">Acceder</a>
			</div>
			<ul class="main-menu">
				<li class="active"><a href="#">Inicio</a></li>
				<li><a href="/about">Nosotros</a></li>
				<li><a href="/event">Eventos</a></li>
				<li><a href="#">CATS</a></li>
				
				<li><a href="/contact">Contactos</a></li>
			</ul>
		</div>
	</nav>
	<!-- Header section end -->


	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg"  data-setbg="img/hero-slider/bb.jpg">
				<div class="hs-text">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<div class="hs-subtitle">Unidad Educativa Fiscomisional</div>
								<h2 class="hs-title">"Mons. Leonidas Proaño" PCEI.</h2>
								<p class="hs-des">La educación no se trata solo de ir a la escuela y obtener un título. Se trata de ampliar tu<br> 
                                    conocimiento y absorber la verdad sobre la vida. El conocimiento es poder.</p>
								<div class="site-btn">EMPEZAR</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="img/hero-slider/cc.jpg">
				<div class="hs-text">
					<div class="container">
						<div class="row">
							<div class="col-lg-8">
								<div class="hs-subtitle">Unidad Educativa Fiscomisional</div>
								<h2 class="hs-title">"Mons. Leonidas Proaño" PCEI.</h2>
								<p class="hs-des">La educación no se trata solo de ir a la escuela y obtener un título. Se trata de ampliar tu<br> 
                                    conocimiento y absorber la verdad sobre la vida. El conocimiento es poder.</p>
								<div class="site-btn">EMPEZAR</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Hero section end -->


	<!-- Counter section  -->

	<!-- Counter section end -->


	<!-- Services section -->
	<section class="service-section spad">
		<div class="container services">
			<div class="section-title text-center">
				<h3>NUESTROS SERVICIOS</h3>
				<p>Brindamos la oportunidad de prepararse para la vida</p>
			</div>
			<div class="row">
				<div class="col-lg-6 col-sm-6 service-item">
					<div class="service-icon">
						<img src="img/services-icons/1.png" alt="1">
					</div>
					<div class="service-content">
						<h4>Intensiva</h4>
						<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue. Aenean dos cursus lania.</p>
					</div>
				</div>
				<div class="col-lg-6 col-sm-6 service-item">
					<div class="service-icon">
						<img src="img/services-icons/2.png" alt="1">
					</div>
					<div class="service-content">
						<h4>Extraordinaria</h4>
						<p>Lorem ipsum dolor sitdo amet, consectetur dont adipis elit. Vivamus interdum ultrices augue. Aenean dos cursus lania.</p>
					</div>
				</div>
				
				
			</div>
		</div>
	</section>
	<!-- Services section end -->





	<!-- Gallery section -->
	<div class="gallery-section">
		<div class="gallery">
			<div class="grid-sizer"></div>
			<div class="gallery-item gi-big set-bg" data-setbg="https://live.staticflickr.com/65535/49536328121_1aea72069d_b.jpg">
				<a class="img-popup" href="https://live.staticflickr.com/65535/49536328121_1aea72069d_b.jpg"><i class="ti-plus"></i></a>
			</div>
			<div class="gallery-item set-bg" data-setbg="https://live.staticflickr.com/65535/49544356671_848763f49d_c.jpg">
				<a class="img-popup" href="https://live.staticflickr.com/65535/49544356671_848763f49d_c.jpg"><i class="ti-plus"></i></a>
			</div>
			<div class="gallery-item set-bg" data-setbg="https://live.staticflickr.com/65535/49544262746_ae139b831b_n.jpg">
				<a class="img-popup" href="https://live.staticflickr.com/65535/49544262746_ae139b831b_n.jpg"><i class="ti-plus"></i></a>
			</div>
			<div class="gallery-item gi-long set-bg" data-setbg="https://live.staticflickr.com/65535/49543768233_3a76451cc5_n.jpg">
				<a class="img-popup" href="https://live.staticflickr.com/65535/49543768233_3a76451cc5_n.jpg"><i class="ti-plus"></i></a>
			</div>
			<div class="gallery-item gi-big set-bg" data-setbg="https://live.staticflickr.com/65535/49543787113_56ef503da6_n.jpg">
				<a class="img-popup" href="https://live.staticflickr.com/65535/49543787113_56ef503da6_n.jpg"><i class="ti-plus"></i></a>
			</div>
			<div class="gallery-item gi-long set-bg" data-setbg="img/gallery/4.jpg">
				<a class="img-popup" href="img/gallery/4.jpg"><i class="ti-plus"></i></a>
			</div>
			<div class="gallery-item set-bg" data-setbg="https://live.staticflickr.com/65535/49544484667_da11c2e226_n.jpg">
				<a class="img-popup" href="https://live.staticflickr.com/65535/49544484667_da11c2e226_n.jpg"><i class="ti-plus"></i></a>
			</div>
			<div class="gallery-item set-bg" data-setbg="https://live.staticflickr.com/65535/49543851798_e1355a90fc_b.jpg">
				<a class="img-popup" href="https://live.staticflickr.com/65535/49543851798_e1355a90fc_b.jpg"><i class="ti-plus"></i></a>
			</div>
		</div>
	</div>
	<!-- Gallery section -->




	<!-- Newsletter section -->
	<section class="newsletter-section">
		<div class="container">
			<div class="row">
				<div class="col-md-5 col-lg-7">
					<div class="section-title mb-md-0">
					<h3>BOLETIN INFORMATIVO</h3>
					<p>Suscríbete y recibe las últimas noticias y consejos útiles.</p>
				</div>
				</div>
				<div class="col-md-7 col-lg-5">
					<form class="newsletter">
						<input type="text" placeholder="Ingresa tu email">
						<button class="site-btn">Suscríbete</button>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Newsletter section end -->	




    <%- include('partials/_footer') %>

	<!--====== Javascripts & Jquery ======-->
	