<%- include('partials/_header') %>
	<!-- Page Preloder -->


	

<!-- start banner Area -->
<section class="banner-area relative" id="home" style="max-height: 650px;">
	<div class="overlay overlay-bg"></div>	
	<div class="container">
		<div class="row fullscreen d-flex align-items-center justify-content-between">
			<div class="banner-content col-lg-9 col-md-12">
				<h1 class="text-uppercase" style="margin-top:-20%;">
					Unidad educativa
					"El Ángel"	
				</h1>
				<p class="pt-10 pb-10">
					Convenio: Ministerio de Educación -  El Angel, Carchi, Ecuador. Institución educativa. Teléfonos: 062987006
				</p>
				
			</div>										
		</div>
	</div>					
</section>
<!-- End banner Area -->

<!-- Start feature Area -->
<section class="feature-area">
	<div class="container">
		<div class="row">
			<div class="col-lg-4">
				<div class="single-feature">
					<div class="title">
						<h4>Educación en linea</h4>
					</div>
					<div class="desc-wrap">
						<p>
							El uso de Internet se está volviendo más común debido al rápido avance de la tecnología.
						</p>
						<a href="#">Únete ahora</a>									
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature">
					<div class="title">
						<h4>No.1 de colegios</h4>
					</div>
					<div class="desc-wrap">
						<p>
							Impulsar tu formación educativa es nuestra prioridad y tu crecimiento constante es nuestra pasión.
						</p>
						<a href="#">Únete ahora</a>									
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="single-feature">
					<div class="title">
						<h4>Biblioteca</h4>
					</div>
					<div class="desc-wrap">
						<p>
							Si eres un fanático del estudio como muchos de nosotros, probablemente puedas recordar ese evento.
						</p>
						<a href="#">Únete ahora</a>									
					</div>
				</div>
			</div>												
		</div>
	</div>	
</section>
<!-- End feature Area -->
		
<!-- Start popular-course Area -->
<!-- <section class="popular-course-area section-gap">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content pb-70 col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Centros de apoyo tutorial</h1>
					<p>Hay un momento en la vida de cualquier aspirante.</p>
				</div>
			</div>
		</div>						
		<div class="row">
			<div class="active-popular-carusel">
				<div class="single-popular-carusel">
					<div class="thumb-wrap relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>	
							<img class="img-fluid" style="height: 200px;" src="http://www.sefse.edu.ec/images/provincias/carchi/name1b.jpg" alt="">
						</div>
						<div class="meta d-flex justify-content-between">
							<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
							<h4>$150</h4>
						</div>									
					</div>
					<div class="details">
						<a href="#">
							<h4>
								Planta central
							</h4>
						</a>
						<p>
							PLANTA CENTRAL: Avenida Julio Robles y las Tejerías Contactos: 062224158 - 0998364064 - unedc2000@yahoo.es										
						</p>
					</div>
				</div>	
				<div class="single-popular-carusel">
					<div class="thumb-wrap relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>	
							<img class="img-fluid" style="height: 200px;" src="https://www.tulcanonline.com/images/Turismo/Ciudad_San_Gabriel.jpg" alt="">
						</div>
						<div class="meta d-flex justify-content-between">
							<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
							<h4>$150</h4>
						</div>									
					</div>
					<div class="details">
						<a href="#">
							<h4>
								San Gabriel
							</h4>
						</a>
						<p>
							 Panamericana y Calle Rosales – Instalaciones Casa de la Juventud Montufar.
							Contactos: 0961022867 									
						</p>
					</div>
				</div>	
				<div class="single-popular-carusel">
					<div class="thumb-wrap relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>	
							<img class="img-fluid" style="height: 200px;" src="https://static.wixstatic.com/media/669ac8_07203d5141904a7aa7dcecfcc94c2c46~mv2.jpeg/v1/fill/w_415,h_256,al_c,q_80,usm_0.66_1.00_0.01/PARQUE1.webp" alt="">
						</div>
						<div class="meta d-flex justify-content-between">
							<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
							<h4>$150</h4>
						</div>									
					</div>
					<div class="details">
						<a href="#">
							<h4>
								Huaca
							</h4>
						</a>
						<p>
							CAT - HUACA:  Paja Blanca  Contactos: 0981858158										
						</p>
					</div>
				</div>	
				<div class="single-popular-carusel">
					<div class="thumb-wrap relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>	
							<img class="img-fluid" style="height: 200px;" src="https://ec.viajandox.com/uploads/attractive_1207.jpg" alt="">
						</div>
						<div class="meta d-flex justify-content-between">
							<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
							<h4>$150</h4>
						</div>									
					</div>
					<div class="details">
						<a href="#">
							<h4>
								El Ángel
							</h4>
						</a>
						<p>
							CAT - EL ANGEL: Calle Pichincha y Avenida Panamericana Contactos: 0990117974 										
						</p>
					</div>
				</div>
				<div class="single-popular-carusel">
					<div class="thumb-wrap relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>	
							<img class="img-fluid" style="height: 200px;" src="http://www.sefse.edu.ec/images/provincias/carchi/name1b.jpg" alt="">
						</div>
						<div class="meta d-flex justify-content-between">
							<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
							<h4>$150</h4>
						</div>									
					</div>
					<div class="details">
						<a href="#">
							<h4>
								Planta central
							</h4>
						</a>
						<p>
							PLANTA CENTRAL: Avenida Julio Robles y las Tejerías Contactos: 062224158 - 0998364064 - unedc2000@yahoo.es										
						</p>
					</div>
				</div>	
				<div class="single-popular-carusel">
					<div class="thumb-wrap relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>	
							<img class="img-fluid" style="height: 200px;" src="https://www.tulcanonline.com/images/Turismo/Ciudad_San_Gabriel.jpg" alt="">
						</div>
						<div class="meta d-flex justify-content-between">
							<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
							<h4>$150</h4>
						</div>									
					</div>
					<div class="details">
						<a href="#">
							<h4>
								San Gabriel
							</h4>
						</a>
						<p>
							 Panamericana y Calle Rosales – Instalaciones Casa de la Juventud Montufar.
							Contactos: 0961022867 									
						</p>
					</div>
				</div>	
				<div class="single-popular-carusel">
					<div class="thumb-wrap relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>	
							<img class="img-fluid" style="height: 200px;" src="https://static.wixstatic.com/media/669ac8_07203d5141904a7aa7dcecfcc94c2c46~mv2.jpeg/v1/fill/w_415,h_256,al_c,q_80,usm_0.66_1.00_0.01/PARQUE1.webp" alt="">
						</div>
						<div class="meta d-flex justify-content-between">
							<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
							<h4>$150</h4>
						</div>									
					</div>
					<div class="details">
						<a href="#">
							<h4>
								Huaca
							</h4>
						</a>
						<p>
							CAT - HUACA:  Paja Blanca  Contactos: 0981858158										
						</p>
					</div>
				</div>	
				<div class="single-popular-carusel">
					<div class="thumb-wrap relative">
						<div class="thumb relative">
							<div class="overlay overlay-bg"></div>	
							<img class="img-fluid" style="height: 200px;" src="https://ec.viajandox.com/uploads/attractive_1207.jpg" alt="">
						</div>
						<div class="meta d-flex justify-content-between">
							<p><span class="lnr lnr-users"></span> 355 <span class="lnr lnr-bubble"></span>35</p>
							<h4>$150</h4>
						</div>									
					</div>
					<div class="details">
						<a href="#">
							<h4>
								El Ángel
							</h4>
						</a>
						<p>
							CAT - EL ANGEL: Calle Pichincha y Avenida Panamericana Contactos: 0990117974 										
						</p>
					</div>
				</div>							
			</div>
		</div>
	</div>	
</section> -->
<!-- End popular-course Area -->





<!-- Start upcoming-event Area -->
<section class="upcoming-event-area section-gap" >
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="menu-content col-lg-8">
				<div class="title text-center">
					<h1 class="mb-10">Eventos de la Institución</h1>
					<p>Si eres fans de UETCCAM</p>
				</div>
			</div>
		</div>								
		<div class="row">
			<div class="active-upcoming-event-carusel">
				<div class="single-carusel row align-items-center">
					<div class="col-12 col-md-6 thumb">
						<img class="img-fluid" src="img/e1.jpg" alt="">
					</div>
					<div class="detials col-12 col-md-6">
						<p>25th February, 2018</p>
						<a href="#"><h4>The Universe Through
						A Child S Eyes</h4></a>
						<p>
							For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
						</p>
					</div>
				</div>
				<div class="single-carusel row align-items-center">
					<div class="col-12 col-md-6 thumb">
						<img class="img-fluid" src="img/e2.jpg" alt="">
					</div>
					<div class="detials col-12 col-md-6">
						<p>25th February, 2018</p>
						<a href="#"><h4>The Universe Through
						A Child S Eyes</h4></a>
						<p>
							For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
						</p>
					</div>
				</div>	
				<div class="single-carusel row align-items-center">
					<div class="col-12 col-md-6 thumb">
						<img class="img-fluid" src="img/e1.jpg" alt="">
					</div>
					<div class="detials col-12 col-md-6">
						<p>25th February, 2018</p>
						<a href="#"><h4>The Universe Through
						A Child S Eyes</h4></a>
						<p>
							For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
						</p>
					</div>
				</div>	
				<div class="single-carusel row align-items-center">
					<div class="col-12 col-md-6 thumb">
						<img class="img-fluid" src="img/e1.jpg" alt="">
					</div>
					<div class="detials col-12 col-md-6">
						<p>25th February, 2018</p>
						<a href="#"><h4>The Universe Through
						A Child S Eyes</h4></a>
						<p>
							For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
						</p>
					</div>
				</div>
				<div class="single-carusel row align-items-center">
					<div class="col-12 col-md-6 thumb">
						<img class="img-fluid" src="img/e2.jpg" alt="">
					</div>
					<div class="detials col-12 col-md-6">
						<p>25th February, 2018</p>
						<a href="#"><h4>The Universe Through
						A Child S Eyes</h4></a>
						<p>
							For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
						</p>
					</div>
				</div>	
				<div class="single-carusel row align-items-center">
					<div class="col-12 col-md-6 thumb">
						<img class="img-fluid" src="img/e1.jpg" alt="">
					</div>
					<div class="detials col-12 col-md-6">
						<p>25th February, 2018</p>
						<a href="#"><h4>The Universe Through
						A Child S Eyes</h4></a>
						<p>
							For most of us, the idea of astronomy is something we directly connect to “stargazing”, telescopes and seeing magnificent displays in the heavens.
						</p>
					</div>
				</div>																						
			</div>
		</div>
	</div>	
</section>
<!-- End upcoming-event Area -->




    <%- include('partials/_footer') %>

	<!--====== Javascripts & Jquery ======-->
	