<%- include('partials/_header') %>
	<!-- Page Preloder -->


	<!--================ Start Home Banner Area =================-->
	<section class="home_banner_area">
		<div class="banner_inner">
			<div class="container">
				<div class="row">
					<div class="col-lg-7">
						<div class="banner_content">
							<h2>
								Unidad Educativa del<br>
								Milenio Alfonso Herrera
							</h2>
							<h5 style="color: #fff">
								Bachillerato en Ciencias (BGU) y Bachillerato Técnico (Producción Agropecuaria y Electromecánica
							</h5>
							
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Home Banner Area =================-->

	<!--================ Start Feature Area =================-->
	<section class="feature_area">
		<div class="container">
			<div class="row justify-content-end">
				<div class="col-lg-4">
					<div class="single_feature d-flex flex-row pb-30">
						<div class="icon">
							<span class="fa fa-trophy"></span>
						</div>
						<div class="desc">
							<h4>Los mejores estudiantes</h4>
							<p>
								Los resultados son los mejores estudiantes que produce la institución
							</p>
						</div>
					</div>
					<div class="single_feature d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-screen"></span>
						</div>
						<div class="desc">
							<h4>Plataforma</h4>
							<p>
								Cuenta con una herramienta de educacion interna muy eficiente y segura
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================ End Feature Area =================-->

	<!--================ Start Department Area =================-->
	<div class="department_area section_gap">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<div class="dpmt_courses">
						<div class="row">
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="img/dpmt/icon1.png" alt="">
									</div>
									<h4>Idiomas</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="img/dpmt/icon2.png" alt="">
									</div>
									<h4>Crecimiento</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt-100">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="img/dpmt/icon3.png" alt="">
									</div>
									<h4>Literatura</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="img/dpmt/icon4.png" alt="">
									</div>
									<h4>Software</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="img/dpmt/icon5.png" alt="">
									</div>
									<h4>Diseño</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="col-lg-4 col-md-4 col-sm-6 col-12 text-center">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="img/dpmt/icon6.png" alt="">
									</div>
									<h4>Entrenamiento</h4>
								</div>
							</div>
							<!-- single course -->
							<div class="offset-lg-4 col-lg-4 col-md-4 col-sm-6 col-12 text-center mt--100">
								<div class="single_department">
									<div class="dpmt_icon">
										<img src="img/dpmt/icon7.png" alt="">
									</div>
									<h4>Desarrollo</h4>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="offset-lg-1 col-lg-5">
					<div class="dpmt_right">
						<h1>Más de 1000 estudiantes en 1 Plataforma</h1>
						<p>Hay un momento en la vida de cualquier aspirante a profesional en el que es hora de tener ese primer titulo. 
							Es emocionante pensar en como futuros profesionales del Ecuador. Hay un momento en la vida de cualquier aspirante a profesional en el que es hora de tener ese primer titulo. 
							Es emocionante pensar en como futuros profesionales del Ecuador.</p>
						<p>Hay un momento en la vida de cualquier aspirante a profesional en el que es hora de tener ese primer titulo. 
							Es emocionante pensar en como futuros profesionales del Ecuador.</p>
						<a href="#" class="primary-btn text-uppercase">Explorar</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End Department Area =================-->




	<!--================ Start Events Area =================-->
	<div >
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6">
					<div class="main_title">
						<h2>Próximos Eventos</h2>
						<p>Hay un momento en la vida de cualquier estudiante en el que es hora de tener ese primer titulo.
							 Es emocionante pensar en en nuevos profesionales para el desarrollo del pais.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-12 col-sm-12">
							<div class="single_event">
								<div class="row align-items-center">
									<div class="col-lg-6 col-md-5">
										<div class="event_thumb">
											<img height="200" src="https://res.cloudinary.com/dvpp07pji/image/upload/v1665763354/309629103_523447366452396_7091794520818380214_n.jpg_eou4r8.jpg" alt="">
										</div>
									</div>
									<div class="col-lg-6 col-md-7">
										<div class="event_details">
											<p>25 de febrero de 2022</p>
											<h4>
												<a href="#">El universo a través de los ojos de un niño</a>
											</h4>
											<p>Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore dolor
												sit amet consec tetur adipisicing elit sed.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="row">
						<div class="col-lg-12 col-sm-12">
							<div class="single_event">
								<div class="row align-items-center">
									<div class="col-lg-6 col-md-5">
										<div class="event_thumb">
											<img height="200" src="https://res.cloudinary.com/dvpp07pji/image/upload/v1665763386/309752860_523447163119083_1933302139601408373_n.jpg_bg7dqm.jpg" alt="">
										</div>
									</div>
									<div class="col-lg-5 col-md-7">
										<div class="event_details">
											<p>20 de febrero de 2022</p>
											<h4>
												<a href="#">El universo a través de los ojos de un niño</a>
											</h4>
											<p>Lorem ipsum dolor sit amet consec tetur adipisicing elit, sed do eiusmod tempor incididunt labore dolor
												sit amet consec tetur adipisicing elit sed.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--================ End Events Area =================-->


    <%- include('partials/_footer') %>

	<!--====== Javascripts & Jquery ======-->
	