<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<title>Mons. Leonidas Proaño</title>
		<link href="img/favicon.png" rel="shortcut icon"/>
		<!-- Author Meta -->
		<meta name="author" content="colorlib">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="css/linearicons.css">
			<link rel="stylesheet" href="css/font-awesome.min.css">
			<link rel="stylesheet" href="css/bootstrap.css">
			<link rel="stylesheet" href="css/magnific-popup.css">
			<link rel="stylesheet" href="css/nice-select.css">							
			<link rel="stylesheet" href="css/animate.min.css">
			<link rel="stylesheet" href="css/owl.carousel.css">			
			<link rel="stylesheet" href="css/jquery-ui.css">			
			<link rel="stylesheet" href="css/main.css">
			<script type="text/javascript">
				(function() {
				  window.sib = { equeue: [], client_key: "qo2nyc4aeleiqhuxyq4yv9nc" };
				  /* OPTIONAL: email to identify request*/
				  // window.sib.email_id = 'example@domain.com';
				  /* OPTIONAL: to hide the chat on your script uncomment this line (0 = chat hidden; 1 = display chat) */
				  // window.sib.display_chat = 0;
				  // window.sib.display_logo = 0;
				  /* OPTIONAL: to overwrite the default welcome message uncomment this line*/
				  // window.sib.custom_welcome_message = 'Hello, how can we help you?';
				  /* OPTIONAL: to overwrite the default offline message uncomment this line*/
				  // window.sib.custom_offline_message = 'We are currently offline. In order to answer you, please indicate your email in your messages.';
				  window.sendinblue = {}; for (var j = ['track', 'identify', 'trackLink', 'page'], i = 0; i < j.length; i++) { (function(k) { window.sendinblue[k] = function(){ var arg = Array.prototype.slice.call(arguments); (window.sib[k] || function() { var t = {}; t[k] = arg; window.sib.equeue.push(t);})(arg[0], arg[1], arg[2]);};})(j[i]);}var n = document.createElement("script"),i = document.getElementsByTagName("script")[0]; n.type = "text/javascript", n.id = "sendinblue-js", n.async = !0, n.src = "https://sibautomation.com/sa.js?key=" + window.sib.client_key, i.parentNode.insertBefore(n, i), window.sendinblue.page();
				})();
			  </script>
		</head>
		<body>	
		  <header id="header" id="home">
	  		<div class="header-top">
	  			<div class="container">
			  		<div class="row">
			  			<div class="col-lg-6 col-sm-6 col-8 header-top-left no-padding">
			  				<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
			  				</ul>			
			  			</div>
			  			<div class="col-lg-6 col-sm-6 col-4 header-top-right no-padding">
			  				<a href="tel:+953 012 3654 896"><span class="lnr lnr-phone-handset"></span> <span class="text">062987006</span></a>
			  				<a href="mailto:support@colorlib.com"><span class="lnr lnr-envelope"></span> <span class="text">Unedc2000@yahoo.es</span></a>			
			  			</div>
			  		</div>			  					
	  			</div>
			</div>
		    <div class="container main-menu">
		    	<div class="row align-items-center justify-content-between d-flex">
			      <div id="logo">
			        <a class="text-white h2" href="index.html"><img width="40px" src="img/favicon.png" alt="" title="" /> &nbsp; <b style="color: #f7631b;">PCEI</b>-TULCAN</a>
			      </div>
			      <nav id="nav-menu-container">
			        <ul class="nav-menu">
			          <li><a href="/">Inicio</a></li>
			          <li><a href="/about">Nosotros</a></li>
			          <li><a href="/cats">CATS</a></li>
			          <li><a href="/event">Eventos</a></li>
			          <li><a href="/galeria">Galeria</a></li>
			          <!-- <li class="menu-has-children"><a href="">Blog</a>
			            <ul>
			              <li><a href="blog-home.html">Blog Home</a></li>
			              <li><a href="blog-single.html">Blog Single</a></li>
			            </ul>
			          </li>	 -->
					 
			          <li class="menu-has-children"><a href="#">Aplicación</a>
			            <ul>
		              		<li><a  href="https://plataformas-pcei.netlify.app/">Plataforma 1</a></li>	
							<li><a  href="plataformas-pcei.vercel.app/">Plataforma 2</a></li>		
		              		<li><a  href="https://back-ends.web.app/">Plataforma 3</a></li>		
			                
			            </ul>
			          </li>					          					          		          
			         
			        </ul>
			      </nav><!-- #nav-menu-container -->		    		
		    	</div>
		    </div>
		  </header><!-- #header -->
	